.gradle/
.kotlin/
build/
native/target/
local.properties
.idea/
*.iml
.DS_Store
captures/
keystore/
keystore.properties
dist/
app/src/play/assets/routing/pack.zip
app/src/play/assets/routing/pack.json
IMG_0198.PNG
